Cache:		I0
Cache Size:     64K
Associativity:  1
Line Size:      1024
Latency:	1

Cache:		D0
Cache Size:     32K
Associativity:  1
Line Size:      128
Latency:	2

Cache:		I1
Cache Size:     1M
Associativity:  1
Line Size:      2048
Latency:	3

Cache:		D1
Cache Size:     256K
Associativity:  2
Line Size:      128
Latency:	2

Cache:		J2
Cache Size:     4M
Associativity:  4
Line Size:      4096
Latency:	7

Cache:		M3
Latency:	40
