# Number of registers in VLIW machine
num_gprs	 64
num_fprs	 64
num_ccbits	 64

# Number of of operand ports in each VLIW instruction (for all ops)
num_gpr_rd_ports 48
num_gpr_wr_ports 48
num_fpr_rd_ports 48
num_fpr_wr_ports 48
num_ccr_rd_ports 48
num_ccr_wr_ports 48

# Latencies of different operations
store_latency	  0	     # If 0, need N*(N-1)/2 compares with LOADS

# Resources available to execute each VLIW instruction
num_skips	  3
num_mem		  8
num_alus	 16
ops_per_vliw	 16
bytes_per_vliw	 64

# Size of page in native (RIOS / PowerPC) architecture (Power of 2)
pagesize	 4096	     # 4096 byte pages

# Recompilation parameters
lv_fail_recomp_cnt 10        # LD-VER fails this much -> recompile problem page

# Setting of serialization points and unrolling
max_till_ser_loop   2	     # If see loop    entry 2 times, serialize at it
max_till_ser_other  2	     # If see diamond entry 4 times, serialize at it
max_unroll_loop	    4	     # If see loop entry 4 more times, goto ser. pt
max_duplic_other    4	     # If see diamond entry 2 more times, goto ser. pt
max_ins_per_group   128	     # 0 or neg ==> No limit

# Probabilities that certain branch types are taken
loop_back_prob	 0.90	     # Loop back edges are normally taken
negint_cmp_prob	 0.20	     # If val neg, this is likely an error chk
if_then_prob	 0.40	     # Fwd branch taken slightly more than not

# Turn on various optimizations
reorder_cc_ops	 1	     # CMPs not in pgm order (but branches in order)
do_load_motion	 1	     # LOADS can be moved above STORES
do_combining	 1	     # Limited to loop bumps, e.g. cal r3,1(r3)
do_copyprop	 1	     # Use COPY src for dest when sched ops early
inline_ucond_br  1	     # Inline uncond branches and onpage "bl's"

# Identify whether this is a special architecture known to translator
is_daisy1	       0

# Clustering Information
num_clusters           0     # Any number 1-8.  0 ==> No clustering
cross_cluster_penalty  0     # Cycles must delay to get result in other cluster

clustALU	       1     # ALU's are a clustered (not global) resource
clustMEM	       1     # Mem   units ------------------------------>
clustISSUE	       1     # Issue units ------------------------------>
clustGPR_RDPORT	       1     # GPR Read  ports -------------------------->
clustGPR_WRPORT	       1     # GPR Write ports -------------------------->
clustFPR_RDPORT	       1     # FPR Read  ports -------------------------->
clustFPR_WRPORT	       1     # FPR Write ports -------------------------->
clustCCR_RDPORT	       1     # CCR Read  ports -------------------------->
clustCCR_WRPORT	       1     # CCR Write ports -------------------------->

c1_numALU	       4     # 4 ALU's in cluster 1
c2_numALU	       4     # 4 ALU's in cluster 2
c3_numALU	       0     # 0 ALU's in cluster 3
c4_numALU	       0     # 0 ALU's in cluster 4
c5_numALU	       0     # 0 ALU's in cluster 5
c6_numALU	       0     # 0 ALU's in cluster 6
c7_numALU	       0     # 0 ALU's in cluster 7
c8_numALU	       0     # 0 ALU's in cluster 8

c1_numMEM	       2     # 2 Mem units in cluster 1
c2_numMEM	       2     # 2 Mem units in cluster 2
c3_numMEM	       0     # 0 Mem units in cluster 3
c4_numMEM	       0     # 0 Mem units in cluster 4
c5_numMEM	       0     # 0 Mem units in cluster 5
c6_numMEM	       0     # 0 Mem units in cluster 6
c7_numMEM	       0     # 0 Mem units in cluster 7
c8_numMEM	       0     # 0 Mem units in cluster 8

c1_numISSUE	       4     # 4 Issue slots in cluster 1
c2_numISSUE	       4     # 4 Issue slots in cluster 2
c3_numISSUE	       0     # 0 Issue slots in cluster 3
c4_numISSUE	       0     # 0 Issue slots in cluster 4
c5_numISSUE	       0     # 0 Issue slots in cluster 5
c6_numISSUE	       0     # 0 Issue slots in cluster 6
c7_numISSUE	       0     # 0 Issue slots in cluster 7
c8_numISSUE	       0     # 0 Issue slots in cluster 8

c1_numGPR_RDPORT      12     #12 GPR Read ports in cluster 1
c2_numGPR_RDPORT      12     #12 GPR Read ports in cluster 2
c3_numGPR_RDPORT       0     # 0 GPR Read ports in cluster 3
c4_numGPR_RDPORT       0     # 0 GPR Read ports in cluster 4
c5_numGPR_RDPORT       0     # 0 GPR Read ports in cluster 5
c6_numGPR_RDPORT       0     # 0 GPR Read ports in cluster 6
c7_numGPR_RDPORT       0     # 0 GPR Read ports in cluster 7
c8_numGPR_RDPORT       0     # 0 GPR Read ports in cluster 8

c1_numGPR_WRPORT       6     # 6 GPR Write ports in cluster 1
c2_numGPR_WRPORT       6     # 6 GPR Write ports in cluster 2
c3_numGPR_WRPORT       0     # 0 GPR Write ports in cluster 3
c4_numGPR_WRPORT       0     # 0 GPR Write ports in cluster 4
c5_numGPR_WRPORT       0     # 0 GPR Write ports in cluster 5
c6_numGPR_WRPORT       0     # 0 GPR Write ports in cluster 6
c7_numGPR_WRPORT       0     # 0 GPR Write ports in cluster 7
c8_numGPR_WRPORT       0     # 0 GPR Write ports in cluster 8

c1_numFPR_RDPORT      12     #12 FPR Read ports in cluster 1
c2_numFPR_RDPORT      12     #12 FPR Read ports in cluster 2
c3_numFPR_RDPORT       0     # 0 FPR Read ports in cluster 3
c4_numFPR_RDPORT       0     # 0 FPR Read ports in cluster 4
c5_numFPR_RDPORT       0     # 0 FPR Read ports in cluster 5
c6_numFPR_RDPORT       0     # 0 FPR Read ports in cluster 6
c7_numFPR_RDPORT       0     # 0 FPR Read ports in cluster 7
c8_numFPR_RDPORT       0     # 0 FPR Read ports in cluster 8

c1_numFPR_WRPORT       6     # 6 FPR Write ports in cluster 1
c2_numFPR_WRPORT       6     # 6 FPR Write ports in cluster 2
c3_numFPR_WRPORT       0     # 0 FPR Write ports in cluster 3
c4_numFPR_WRPORT       0     # 0 FPR Write ports in cluster 4
c5_numFPR_WRPORT       0     # 0 FPR Write ports in cluster 5
c6_numFPR_WRPORT       0     # 0 FPR Write ports in cluster 6
c7_numFPR_WRPORT       0     # 0 FPR Write ports in cluster 7
c8_numFPR_WRPORT       0     # 0 FPR Write ports in cluster 8

c1_numCCR_RDPORT      12     #12 CCR Read ports in cluster 1
c2_numCCR_RDPORT      12     #12 CCR Read ports in cluster 2
c3_numCCR_RDPORT       0     # 0 CCR Read ports in cluster 3
c4_numCCR_RDPORT       0     # 0 CCR Read ports in cluster 4
c5_numCCR_RDPORT       0     # 0 CCR Read ports in cluster 5
c6_numCCR_RDPORT       0     # 0 CCR Read ports in cluster 6
c7_numCCR_RDPORT       0     # 0 CCR Read ports in cluster 7
c8_numCCR_RDPORT       0     # 0 CCR Read ports in cluster 8

c1_numCCR_WRPORT       6     # 6 CCR Write ports in cluster 1
c2_numCCR_WRPORT       6     # 6 CCR Write ports in cluster 2
c3_numCCR_WRPORT       0     # 0 CCR Write ports in cluster 3
c4_numCCR_WRPORT       0     # 0 CCR Write ports in cluster 4
c5_numCCR_WRPORT       0     # 0 CCR Write ports in cluster 5
c6_numCCR_WRPORT       0     # 0 CCR Write ports in cluster 6
c7_numCCR_WRPORT       0     # 0 CCR Write ports in cluster 7
c8_numCCR_WRPORT       0     # 0 CCR Write ports in cluster 8

